<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.squarespace-cdn.com/content/v1/56a2785c69a91af45e06a188/1562683104778-DKY0MHHZE40UCRWII10G/ke17ZwdGBToddI8pDm48kFWxnDtCdRm2WA9rXcwtIYR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1Uf_TT3g97i6_XmO-qcQt4zAfXqdI_5B_HjrxMT8d5xsm3WUfc_ZsVm9Mi1E6FasEnQ/Restaurant-Management-Skills.png?format=1500w);">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://avatars.githubusercontent.com/u/82772797?v=4" class="card-img-top" alt="Marcio Silva">
          <div class="card-body">
            <h5 class="card-title"><strong>Marcio Silva</strong></h5>
            <a href="https://github.com/mas1606" class="btn btn-secondary">His Github</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://avatars.githubusercontent.com/u/44645923?v=4" class="card-img-top" alt="Gianpaolo Papaiz">
          <div class="card-body">
            <h5 class="card-title"><strong>Gianpaolo Papaiz</strong></h5>
            <a href="https://github.com/gianpaolopapaiz" class="btn btn-secondary">His Github</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://avatars.githubusercontent.com/u/80544031?s=400&u=8bef63a7286dac08b48ee04884530325e98be615&v=4" class="card-img-top" alt="Solano Moreno">
          <div class="card-body">
            <h5 class="card-title"><strong>Solano Moreno</strong></h5>
            <a href="https://github.com/solanomoreno" class="btn btn-secondary">His Github</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    