<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://restauranttech.co/wp-content/uploads/2019/05/POS-systems.jpg);">
  <div class="container">
    <h1>OLHO DO DONO<strong> - Restaurant Managment Remote!</strong></h1>
    <p>Keep all tasks your businesses in your eye, and grow in new one.</p>
    <a class="btn olho-btn olho-green" href="#">About us</a>
    <a class="btn olho-btn olho-red" href="#">Customers</a>
  </div>
</div>