<div class="banner olho-form-container-about">
  <div class="container">
    <h1>OLHO DO DONO<strong> - Restaurant Managment Remote!</strong></h1>
    <p>Keep all tasks your businesses in your eye, and grow in new one.</p>
    <br>
    <br>
    <%= link_to 'About us', about_path(@about), class: 'btn olho-btn olho-green' %>
  </div>
</div>