<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.squarespace-cdn.com/content/v1/56a2785c69a91af45e06a188/1562683104778-DKY0MHHZE40UCRWII10G/ke17ZwdGBToddI8pDm48kFWxnDtCdRm2WA9rXcwtIYR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1Uf_TT3g97i6_XmO-qcQt4zAfXqdI_5B_HjrxMT8d5xsm3WUfc_ZsVm9Mi1E6FasEnQ/Restaurant-Management-Skills.png?format=1500w);">
  <div class="container">
    <h1>OLHO DO DONO<strong> - Restaurant Managment Remote!</strong></h1>
    <p>Keep all tasks your businesses in your eye, and grow in new one.</p>
    <hr>
    <hr>
    <a class="btn olho-btn olho-green" href="#">About us</a>
    <a class="btn olho-btn olho-red" href="#">Customers</a>
  </div>
</div>