<div class="olho-form-container">
  <div class="container olho-div">
    <br>
    <h2> Restaurant Cash-Flow - Year 2021</h2>
    <br>
    <h5> Revenues </h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"> Restaurant</th>
          <th scope="col"> Jan</th>
          <th scope="col"> Feb</th>
          <th scope="col"> Mar</th>
          <th scope="col"> Apr</th>
          <th scope="col"> May</th>
          <th scope="col"> Jun</th>
          <th scope="col"> Jul</th>
          <th scope="col"> Aug</th>
          <th scope="col"> Sep</th>
          <th scope="col"> Oct</th>
          <th scope="col"> Nov</th>
          <th scope="col"> Dec</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="col"> Food</th>
          <td class="small" style="text-align:right;"> $100.00</td>
          <td class="small" style="text-align:right;"> $2100.00</td>
          <td class="small" style="text-align:right;"> $1200.00</td>
          <td class="small" style="text-align:right;"> $800.00</td>
          <td class="small" style="text-align:right;"> $3200.00</td>
          <td class="small" style="text-align:right;"> $2350.00</td>
          <td class="small" style="text-align:right;"> $4332.00</td>
          <td class="small" style="text-align:right;"> $3832.00</td>
          <td class="small" style="text-align:right;"> $3350.00</td>
          <td class="small" style="text-align:right;"> $3300.00</td>
          <td class="small" style="text-align:right;"> $4300.00</td>
          <td class="small" style="text-align:right;"> $5500.00</td>
        </tr>
        <tr>
          <th scope="col"> Beverage</th>
          <th class="small" style="text-align:right;"> $100.00</td>
          <th class="small" style="text-align:right;"> $210.00</td>
          <th class="small" style="text-align:right;"> $1200.00</td>
          <th class="small" style="text-align:right;"> $800.00</td>
          <th class="small" style="text-align:right;"> $320.00</td>
          <th class="small" style="text-align:right;"> $235.00</td>
          <th class="small" style="text-align:right;"> $4332.00</td>
          <th class="small" style="text-align:right;"> $382.00</td>
          <th class="small" style="text-align:right;"> $350.00</td>
          <th class="small" style="text-align:right;"> $3300.00</td>
          <th class="small" style="text-align:right;"> $300.00</td>
          <th class="small" style="text-align:right;"> $550.00</td>
        </tr>
        <tr>
          <th scope="col"> Dessert</th>
          <th class="small" style="text-align:right;"> $1000.00</td>
          <th class="small" style="text-align:right;"> $120.00</td>
          <th class="small" style="text-align:right;"> $800.00</td>
          <th class="small" style="text-align:right;"> $1800.00</td>
          <th class="small" style="text-align:right;"> $1400.00</td>
          <th class="small" style="text-align:right;"> $235.00</td>
          <th class="small" style="text-align:right;"> $4332.00</td>
          <th class="small" style="text-align:right;"> $382.00</td>
          <th class="small" style="text-align:right;"> $350.00</td>
          <th class="small" style="text-align:right;"> $3300.00</td>
          <th class="small" style="text-align:right;"> $300.00</td>
          <th class="small" style="text-align:right;"> $550.00</td>
        </tr>
        <tr style="background-color: darkblue; color:white">
          <th scope="col"> Total</th>
          <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
          <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
          <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
          <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
          <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
          <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
          <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
          <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
          <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
          <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
          <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
          <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
        </tr>
      </tbody>
    </table>
    <br>
    <h5> Expenses </h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"> Category</th>
          <th scope="col"> Jan</th>
          <th scope="col"> Feb</th>
          <th scope="col"> Mar</th>
          <th scope="col"> Apr</th>
          <th scope="col"> May</th>
          <th scope="col"> Jun</th>
          <th scope="col"> Jul</th>
          <th scope="col"> Aug</th>
          <th scope="col"> Sep</th>
          <th scope="col"> Oct</th>
          <th scope="col"> Nov</th>
          <th scope="col"> Dec</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="col"> Payroll</th>
          <td class="small" style="text-align:right;"> $100.00</td>
          <td class="small" style="text-align:right;"> $2100.00</td>
          <td class="small" style="text-align:right;"> $1200.00</td>
          <td class="small" style="text-align:right;"> $800.00</td>
          <td class="small" style="text-align:right;"> $3200.00</td>
          <td class="small" style="text-align:right;"> $2350.00</td>
          <td class="small" style="text-align:right;"> $4332.00</td>
          <td class="small" style="text-align:right;"> $3832.00</td>
          <td class="small" style="text-align:right;"> $3350.00</td>
          <td class="small" style="text-align:right;"> $3300.00</td>
          <td class="small" style="text-align:right;"> $4300.00</td>
          <td class="small" style="text-align:right;"> $5500.00</td>
        </tr>
        <tr>
          <th scope="col"> Utilities</th>
          <th class="small" style="text-align:right;"> $100.00</td>
          <th class="small" style="text-align:right;"> $210.00</td>
          <th class="small" style="text-align:right;"> $1200.00</td>
          <th class="small" style="text-align:right;"> $800.00</td>
          <th class="small" style="text-align:right;"> $320.00</td>
          <th class="small" style="text-align:right;"> $235.00</td>
          <th class="small" style="text-align:right;"> $4332.00</td>
          <th class="small" style="text-align:right;"> $382.00</td>
          <th class="small" style="text-align:right;"> $350.00</td>
          <th class="small" style="text-align:right;"> $3300.00</td>
          <th class="small" style="text-align:right;"> $300.00</td>
          <th class="small" style="text-align:right;"> $550.00</td>
        </tr>
        <tr>
          <th scope="col"> Office</th>
          <th class="small" style="text-align:right;"> $1000.00</td>
          <th class="small" style="text-align:right;"> $120.00</td>
          <th class="small" style="text-align:right;"> $800.00</td>
          <th class="small" style="text-align:right;"> $1800.00</td>
          <th class="small" style="text-align:right;"> $1400.00</td>
          <th class="small" style="text-align:right;"> $235.00</td>
          <th class="small" style="text-align:right;"> $4332.00</td>
          <th class="small" style="text-align:right;"> $382.00</td>
          <th class="small" style="text-align:right;"> $350.00</td>
          <th class="small" style="text-align:right;"> $3300.00</td>
          <th class="small" style="text-align:right;"> $300.00</td>
          <th class="small" style="text-align:right;"> $550.00</td>
        </tr>
        <tr>
          <th scope="col"> Inputs</th>
          <th class="small" style="text-align:right;"> $1000.00</td>
          <th class="small" style="text-align:right;"> $120.00</td>
          <th class="small" style="text-align:right;"> $800.00</td>
          <th class="small" style="text-align:right;"> $1800.00</td>
          <th class="small" style="text-align:right;"> $1400.00</td>
          <th class="small" style="text-align:right;"> $235.00</td>
          <th class="small" style="text-align:right;"> $4332.00</td>
          <th class="small" style="text-align:right;"> $382.00</td>
          <th class="small" style="text-align:right;"> $350.00</td>
          <th class="small" style="text-align:right;"> $3300.00</td>
          <th class="small" style="text-align:right;"> $300.00</td>
          <th class="small" style="text-align:right;"> $550.00</td>
        </tr>
        <tr style="background-color: orange">
          <th scope="col"> Total</th>
          <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
          <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
          <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
          <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
          <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
          <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
          <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
          <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
          <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
          <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
          <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
          <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <h5> Balance </h5>
      <tr style="background-color: lightgreen">
        <th scope="col"> Total</th>
        <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
        <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
        <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
        <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
        <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
        <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
        <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
        <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
        <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
        <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
        <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
        <th class="small" scope="col" style="text-align:right;"> $3300.00</th>
      </tr>
    </table>
  </div>
</div>