<div class="olho-container-kitchen">
  <div class="olho-div p-2">
    <h2 class="m-3"><strong>Order Kitchen Management</strong></h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Table</th>
            <th scope="col">Product</th>
            <th scope="col">Qtd</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody data-restaurant-id="<%= @restaurant.id %>" id="order-items">
          <% @order_items.each do |order_item| %>
            <%= render order_item  %>
          <% end %>
        </tbody>
    </table>
  </div>
</div>
