.card-restaurant {
    overflow: hidden;
    height: 280px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .card-restaurant img {
    height: 100%;
    width: 250px;
    object-fit: cover;
  }
  
  .card-restaurant h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  
  .card-restaurant p {
    font-size: 16px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  
  .card-restaurant .card-restaurant-infos {
    padding: 16px 0px 8px 16px;
    width:100%;
    height: 100%;
  }
  
  .card-restaurant-linha {
    width:100%;
    height: 100%;
  }
  
  .texto-restaurant-linha {
    width:100%;
    height: 100%;
  }
  
  
  .star-div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .button-div {
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
  }
  
  .table {
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
  
  .option-table {
    width: 200px;
  }
  