.olho-green {
  background-color: #939b62;
}

.olho-color-green {
  color: #6c7249;
}

.olho-green:hover {
  background-color: #6c7249;
}

.olho-yellow {
  background-color: #ffd56b;
}

.olho-orange {
  background-color: #ffb26b;
}

.olho-red {
  background-color: #ff7b54;
}

.olho-color-red {
  color: #ff7b54;
}

.olho-color-red:hover {
  text-decoration: none;
  color: #ff7b54;
}